<!doctype html>
<html lang="en">
  <head>
    <title>Marcin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div id="app">
    <h1>{{ title }}</h1>
    <img :src="image" alt="opis" width="100px">
    <div v-for="zdjecie in zdjecia" :key="zdjecie.id">
      <p @mouseover="changePic(zdjecie.image)">{{ zdjecie.nazwa }}</p>
    </div>
    <div>{{ desc }}</div>
    <ul>
      <div v-for="owoc in owoce" :key="owoc.id">
        {{ owoc.kolor }}
      </div>
    </ul>
    <p v-if="onSale">On sale</p>
    <p v-else>Sold out</p>
    <p v-show="display">Display On</p>
    <button @click="displayOn">Display</button>
    <ul>
      <li v-for="owoc in owoce" :key="owoc.id">
        {{ owoc.nazwa + ' ' + owoc.kolor}}
      </li>
    </ul>
    <div>{{ cart }} </div>
    <button @click="addOneToCart">Add cart({{ cart }})</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>